<strong>Novo jogo criado</strong>

<p>olá {{username}}! </p>

<p>Você comprou um novo jogo!</p>

<table>
  <tr>
    <th>Loteria</th>
    <th>Números</th>
    <th>Preço</th>
  </tr>

  <h3>Abaixo estão os detalhes de sua compra!</h3>

  @each(detail in fullDetails)
  <tr>
    <td>{{detail.name}}</td>
    <td>{{detail.numbers}}</td>
    <td>{{detail.price}}</td>
  </tr>
  @endeach

</table>
<h4>E um total de R$: {{totalCart}}</h4>


